{% extends "base.html" %}

{% block content %}

<div class="row">

    <!-- Sidebar -->
    <div class="col-md-3">

        <div class="list-group shadow-sm">


            <!-- ACTIVE MODULES -->

            <a href="/events/{{ case_id }}"
               class="list-group-item list-group-item-action">

                📜 Event Logs

            </a>


            <a href="/timeline/{{ case_id }}"
               class="list-group-item list-group-item-action">

                ⏱ Timeline

            </a>


            <a href="/incidents/{{ case_id }}"
               class="list-group-item list-group-item-action">

                🚨 Incidents

            </a>



            <!-- DISABLED MODULES -->


            <div class="list-group-item disabled-module">
                🧠 Memory
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                🗄 Registry
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                ⚡ Prefetch
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                📑 Jump Lists
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                🌐 Browser History
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                💽 MFT
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                📝 USN Journal
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                📊 SRUM
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                🗑 Recycle Bin
                <small>Coming Soon</small>
            </div>


            <div class="list-group-item disabled-module">
                📄 Report
                <small>Coming Soon</small>
            </div>


        </div>

    </div>



    <!-- Main Workspace -->

    <div class="col-md-9">

        <div class="card shadow-sm">

            <div class="card-body">


                <h3>
                    Case #{{ case_id }}
                </h3>


                <hr>


                <h5>
                    Analysis Workspace
                </h5>


                <p class="text-muted">

                    Select an available artifact module from the left panel.

                </p>


            </div>

        </div>

    </div>


</div>



<style>

.disabled-module {

    background:#f8fafc;

    color:#94a3b8;

    cursor:not-allowed;

    display:flex;

    justify-content:space-between;

    align-items:center;

    opacity:0.75;

}


.disabled-module small {

    font-size:11px;

    color:#cbd5e1;

}


.disabled-module:hover {

    background:#f8fafc;

}



.list-group-item-action:hover {

    background:#eff6ff;

}


</style>


{% endblock %}